<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <!-- v-for='s in todoList' -->
    <div id="app">
        <ol>
            <todo-item 
                v-bind:props="Vuer"
                v-for='s in todoList'
                
            >
            </todo-item>
            <li>-------分隔線-------</li>
            <li>{{todoList[0].text}}</li>
            <li>{{todoList[1].text}}</li>
            <li>{{todoList[2].text}}</li>

            <!-- <li>{{item.text}}</li>
            <li>{{item.text}}</li>
            <li>{{item.text}}</li> -->
        </ol>
    </div>
    <!-- 
        1.props: ['props']====>props: ['props': todoList[2] ]
        2.template: "<li>{{props.text}}</li>" ====> template: "<li>{{todoList[2].text}}</li>"
        3.<li>{{todoList[2].text}}</li> ====> <li> work C </li>

        1.props: ['props']====>props: ['props': Vuer ]
        2.template: "<li>{{props.text}}</li>" ====> template: "<li>{{Vuer.text}}</li>"
        3.<li>{{Vuer.text}}</li> ====X  <li>{{todoList[2].text}}</li>
        <li> work C </li>

        1.props: ['props']====>props: ['props': Vuer ]
        2.template: "<li>{{props}}</li>" ====> template: "<li>{{Vuer}}</li>"
        3.<li>{{Vuer}}</li> ====> <li>todoList[2]</li>
        

     -->


<script>

    Vue.component('todo-item', {
        props: ['props'],
        // template: "<li>{{props}}</li>"
        template: "<li>{{props.text}}</li>"
    })

    var app = new Vue({
        el: '#app',
        data: {
            Vuer:'s',
            todoList: [
                { id: 0, text: "work A"},
                { id: 1, text: "work B"},
                { id: 2, text: "work C"} 
            ]
        }
    })

</script>

</body>
</html>